<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishFlavorMapper">

    <insert id="insert" parameterType="com.sky.entity.DishFlavor">
        INSERT INTO dish_flavor (dish_id, name, value)
        VALUES (#{dishId}, #{name}, #{value})
    </insert>

    <delete id="deleteByDishId">
        DELETE FROM dish_flavor WHERE dish_id = #{dishId}
    </delete>
    <delete id="deleteByDishIds">
        DELETE FROM dish_flavor WHERE dish_id IN
        <foreach collection="dishIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>

    </delete>

    <insert id="insertBatch">
        INSERT INTO dish_flavor (dish_id, name, value) VALUES
        <foreach collection="flavors" item="item" separator=",">
            (#{item.dishId}, #{item.name}, #{item.value})
        </foreach>
    </insert>

    <select id="getByDishId" resultType="com.sky.entity.DishFlavor">
        SELECT id, dish_id, name, value
        FROM dish_flavor
        WHERE dish_id = #{dishId}
        ORDER BY id
    </select>

</mapper>
